h1, h2, h3, h4, h5 {
    color: #5a6a8a;
    text-align: center;
}

p {
    color: #222255;
    text-align: center;
}

div {
    background-color: #7f9f9f;
    width: 350px;
    height: 150px;
    padding: 50px;
    margin: auto;
    box-shadow: 10px 10px 5px grey;
}
